{% extends 'shop/base.html' %}


{% block title %}
Reset your password
{% endblock title %}


{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <br><br><br>
            <h1>Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form action="." method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>
                {% csrf_token %}
            </form>

        </div>
    </div>
</div>

{% endblock content %}